<mat-toolbar color="accent" class="mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()" class="me-3"><mat-icon>menu</mat-icon></button>
    
    <div *ngIf="!callSearch">
        <h1 *ngIf="titlePath==='/pokemon'  || titlePath==='/'" routerLink="/pokemon" class="text-uppercase">Pokedex</h1>
        <a *ngIf="titlePath!=='/pokemon' && titlePath!=='/'" routerLink="/pokemon" class="aligned"><mat-icon>arrow_back_ios</mat-icon></a>
    </div>
    <div *ngIf="callSearch">
        <app-search [maxOffSet]="pageSize" [offSet]="pageIndex" (serchEmitter)="receiveSearch($event)"></app-search>
    </div>
    
    <span class="filler"></span>

    <mat-paginator (page)="handlePageEvent($event)" *ngIf="titlePath==='/pokemon' || titlePath==='/'"
        [length]="numPokemons"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
    ></mat-paginator>

</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #snav class="header-top">
        <mat-nav-list>
            <button mat-stroked-button class="mt-1 mb-5" (click)="callSearch=true; snav.toggle()" [disabled]="titlePath!=='/pokemon' && titlePath!=='/'">Search...?</button>
            <a mat-stroked-button routerLink="/wish" routerLinkActive="link-active" class="text-uppercase" (click)="callSearch=false; snav.toggle()">Wishlist</a>
            <a mat-stroked-button routerLink="/catching-cart" routerLinkActive="link-active" class="text-uppercase" (click)="callSearch=false; snav.toggle()">My Catch</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="header-top">
        <div *ngIf="titlePath==='/pokemon' || titlePath==='/'"> 
            <app-main-listing
                (numPokemonsEmitter)="numPokemonsTotal($event)"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                (callSearchEmitter)="callSearchFromMainList($event)"
                [titlePath]="titlePath"
            ></app-main-listing>
        </div>
                
        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
