// ----------------------------------------
.mat-toolbar {
    z-index: 1001;
    position:fixed;
    .filler { flex: 1 1 auto; }
}
::ng-deep .cdk-overlay-container { z-index: 1001; } // For dropdown IN <mat-toolbar /> (could be in <mat-paginator />...)
// ----------------------------------------
mat-paginator { background-color: transparent; color: #0d6efd; }
::ng-deep .mat-select-panel { background: repeating-radial-gradient(#0d6efd, transparent 100px); }
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) { color: black; }
::ng-deep .mat-select-trigger { color: darkblue !important; }
::ng-deep .mat-paginator-range-label { margin: 0 0px 0 5px !important; }
// ----------------------------------------

mat-sidenav-container {
    .header-top { margin-top: 64px; }
    .mat-sidenav {
        min-width: 170px;
        padding: 16px;
        a { margin: 10px 0; }
        .mat-nav-list { display: table-caption; }
    }
}

.aligned .mat-icon { line-height: 1.8; }

// -------------------------------------------------

@media only screen and (max-width: 599px) {
    mat-sidenav-container {
        .header-top { margin-top: 56px; }
    }
    ::ng-deep .mat-paginator-page-size-label { display: none !important; }
}

@media only screen and (max-width: 483px) {
    ::ng-deep .mat-paginator-page-size { display: none !important; }
}

