<mat-form-field *ngIf="(filteredOptions$ | async) as dbOptions">

    <input type="text" matInput placeholder="Search pokemon..." [formControl]="name" [matAutocomplete]="auto" />

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of dbOptions; trackBy: trackByFn; last as lastItem; count as nElem;" [value]="option">
            <span>{{ option }}</span>
            <span *ngIf="lastItem" [attr.data-counter]="nElem" #lastElement></span>
        </mat-option>
    </mat-autocomplete>

    <mat-icon matPrefix>search</mat-icon>

    <button *ngIf="name.value" mat-button mat-icon-button matSuffix (click)="clearSearchField()">
        <span class="material-icons">clear</span>
    </button>

</mat-form-field>