.mat-form-field {
    width: 200px;
    top: 5px;

    zoom: 0.6;
    // transform: scale(0.6);
    // transform-origin: left center; // Makes <app-search /> sort of a "higher" with...
    -moz-transform: scale(0.6);  // Firefox doesn´t also work!!! https://stackoverflow.com/a/41041611/2816279
}

::ng-deep .mat-form-field-prefix { color: #0d6efd !important; }
