<div class="height-100 p-4" *ngIf="(pokemon$ | async) as pokemon; else loading">
    <section *ngIf="!catchPokemon">
   
        <div class="row">
            <section class="col-sm-12 col-md-6 position-relative">
                <h2 class="bigger-h2 text-center text-uppercase">{{ pokemon.name }}</h2>
                <button color="warn" mat-stroked-button (click)="location.back();" class="text-uppercase position-absolute top-0 start-0 mt-5">Back</button>

                <div class="text-center">
                    <img src="{{ urlImgPokemon + pokemon.id}}.png" width="45%" title="{{ pokemon.name }}" alt="{{ pokemon.name }}" />
                    <button color="warn" mat-raised-button (click)="addCatchingCart({idPokemon: pokemon.id, qty: (formGroup.get('qtyCatch')?.value)})" class="text-uppercase position-absolute top-50 end-0 translate-middle-y over-color">Catch !</button>
                    
                    <form class="d-flex justify-content-center align-items-center" [formGroup]="formGroup">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Caught Qty</mat-label>
                            <input matInput type="number" formControlName='qtyCatch' onlyNumbers>
                            <button *ngIf="formGroup.get('qtyCatch')?.value" mat-button mat-icon-button matSuffix (click)="formGroup.get('qtyCatch')?.setValue('');">
                                <span class="material-icons">clear</span>
                            </button>
                        </mat-form-field>
                    </form>
                    
                </div>
                <div class="text-left">
                    <section>
                        <div class="mt-5">
                            <strong>ID:</strong>
                            <span class=""> #{{ pokemon.id }}</span>
                        </div>
                        <strong>Experience:</strong>
                        <span class="color-grey me-4"> {{ pokemon.base_experience }}</span>
                        <strong>Weight:</strong>
                        <span class="color-grey"> {{ pokemon.weight }}</span>
                        
                        <div class="mt-5">
                            <div class="mb-3"><strong>Type</strong></div>
                            <span *ngFor="let type of pokemon.types">
                                <span class="badge rounded-pill bg-secondary ms-3 mb-3">{{ type.type.name }}</span>
                            </span>
                        </div>
                        <div class="mt-5">
                            <div class="mb-3"><strong>Abilities</strong></div>
                            <span *ngFor="let abilitie of pokemon.abilities">
                                <span class="badge rounded-pill bg-info ms-3 mb-3">{{ abilitie.ability.name }}</span>
                            </span>
                        </div>
                    </section>
                </div>
            </section>

            <section class="bottom col-sm-12 col-md-6">
                <ngx-charts-gauge
                    [view]="view"
                    (window:resize)="onResize($event)"
                    [results]="estatistics"
                ></ngx-charts-gauge>
                <div class="text-center">
                    <div class="d-inline-block">
                        <div *ngFor="let stat of pokemon.stats">
                            <aside><b>{{ stat.stat.name }}</b></aside>
                            <span class="color-grey badge bg-light text-dark mb-3">{{ stat.base_stat }}</span>
                        </div> 
                    </div>
                </div>           
            </section>
        </div>
    </section>

    <section *ngIf="catchPokemon">
        <div class="row">
            <section class="col-sm-12 position-relative">
                
                <button color="warn" mat-stroked-button (click)="location.back();" class="text-uppercase position-absolute top-0 start-0 mt-5">Back</button>
                
                <div *ngIf="catchPokemon.qty !== '0'" class="text-center">
                    Well done!
                    <div class="text-uppercase h2 mt-2 mb-2"><div class="h5">{{ catchPokemon.qty }} x </div>{{ pokemon.name }}</div>
                    were ADDED to the 'catching-cart'!!
                </div>
                <div *ngIf="catchPokemon.qty === '0' && notExistent === false" class="text-center">
                    Well done!
                    <div class="text-uppercase h2 mt-2 mb-2"><div class="h5"></div>{{ pokemon.name }}</div>
                    was DELETED from the 'catching-cart'!!
                </div>
                <div *ngIf="catchPokemon.qty === '0' && notExistent === true" class="text-center">
                    Unlucky...
                    <div class="text-uppercase h2 mt-2 mb-2"><div class="h5"></div>{{ pokemon.name }}</div>
                    haven't been caught... yet!
                </div>

                <div class="text-center">
                    <img src="{{ urlImgPokemon + pokemon.id}}.png" width="300vh" title="{{ pokemon.name }}" alt="{{ pokemon.name }}"
                        [class.img-grey]="catchPokemon.qty === '0' && notExistent === false" 
                        [class.img-grey-inverted]="catchPokemon.qty === '0' && notExistent === true" 
                    />
                    <br />
                    <button color="warn" mat-raised-button routerLink="/catching-cart" routerLinkActive="link-active" class="text-uppercase">catching cart</button>
                </div>
            </section>
        </div>
    </section> 
    
</div>


<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center height-100">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>