.height-100 {
    min-height: calc(100vh - 64px);
    overflow-x: hidden;
    .bigger-h2 { font-size: xx-large; }

    .mat-form-field { width: 120px; }

    .badge {
        padding: .4em 2.65em;
        padding-bottom: 0.2em;
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
    }

    aside {
        display:block;
        text-align: left;
    }
    .color-grey { color: grey; font-weight: bolder; font-style: italic; }
    
    .img-grey {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .img-grey-inverted {
        -webkit-filter: grayscale(100%) invert(1); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) invert(1);
    }
}

::ng-deep .ngx-charts { text { fill: grey !important; } }

@media only screen and (max-width: 768px) {
    .bottom { margin-top: 3rem; }
}

@media only screen and (max-width: 599px) {
    .height-100 { min-height: calc(100vh - 56px); }
}
