<div class="holder">
    <h2 *ngIf="titlePath==='/pokemon'  || titlePath==='/'" class="bigger-h2 text-center text-uppercase mt-5">Pokemons</h2>
    <h2 *ngIf="titlePath==='/wish'" class="bigger-h2 text-center text-uppercase mt-5">Pokemon Wishlist</h2>
    <h2 *ngIf="titlePath==='/catching-cart'" class="bigger-h2 text-center text-uppercase mt-5">Pokemons I've caught</h2>

    <!-- <div class="row mt-3" *ngIf="(pokemons$ | async)?.results as pokemons; else loading"> -->
    <div class="row mt-3">  
        <div *ngFor="let pokemon of pokemons" class="mt-3 mb-3 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">

            <section *ngIf="pokemon.url.split('/')[6] as id">

                <h2 class="text-center text-uppercase mt-3 mb-3">{{ pokemon.name }}</h2>

                <a routerLink="/pokemon/{{ id }}" (click)="callSearchFromListing(false);">
                    <div [hidden]="!imageLoader"><mat-spinner class="m-auto"></mat-spinner></div>
                    <img [hidden]="imageLoader" (load)="imageLoader=false;" src="{{ urlImgPokemon + id}}.png" alt="image" width="100%">
                </a>

                <div class="d-flex justify-content-evenly">
                    <h2 class="letter-thin">#{{ id }}</h2>
                    <a *ngIf="titlePath==='/pokemon'  || titlePath==='/'" class="mt-1" (click)="toggleWhishList(id);">
                        <mat-icon>{{ ledWishList[convertNumber(id) - 1] }}</mat-icon>
                    </a>
                    <mat-icon *ngIf="titlePath==='/wish'" class="blue-icon">favorite</mat-icon>
                    <h2 *ngIf="titlePath==='/catching-cart'" class="letter-thin">x <b>{{ pokemon.qty }}</b></h2>
                </div>

            </section>
            
        </div>
        <div *ngIf="pokemons.length === 0" class="d-flex justify-content-center align-items-center">Unlucky! There's still no Pokemons...</div>
    </div>
    
    <mat-toolbar *ngIf="titlePath === '/wish' || titlePath === '/catching-cart'" color="accent"><!-- just a footer bar --></mat-toolbar>

</div>
