.holder {
    // height: calc(100vh - 64px - 5px);   // 100vh - top bar - pokelist-end
    .row { min-height: calc(100vh - 64px - 5px - 16px - 80px); }
    // overflow: hidden ;
    overflow-y: auto;
    overflow-x: hidden;
    .bigger-h2 { font-size: xx-large; }
    .letter-thin { font-weight: 100; }
    .blue-icon { color: #0d6efd; }

    mat-toolbar { height: 5px; }
}


@media only screen and (min-width: 1399px) {
    h2 { font-size: medium; }
}

@media only screen and (max-width: 599px) {
        .holder {
            .row { min-height: calc(100vh - 56px - 5px - 16px - 80px); }
        }
}
